
*.exe
*.dll
*.so
*.dylib


/bin/
/pkg/
/obj/
/build/
/dist/
/tmp/
/.cache/


*.test
*.out
coverage.out
*.coverprofile


go.work
go.work.sum


/vendor/


.idea/
.vscode/
*.swp


*.csv
*.ipynb
*.txt
*.log


.env
.env.*
!.env.example


.DS_Store
Thumbs.db

